.headerMain {
    width: var(--mainWidth);
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;

    img {
        height: 30px;
        border-radius: 20px;
        margin-right: 12px;

        &:hover {
            cursor: pointer;
        }
    }

    h1 {
        font-size: 2rem;

        &:hover {
            cursor: pointer;
        }
    }

    nav {
        margin-left: auto;

        ul {
            list-style: none;
            display: flex;
            gap: 16px;

            li {

                a {
                    text-decoration: none;
                    color: var(--lightGrey);
                    font-weight: 500;
                    font-size: 0.9rem;

                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }
    }

    form {
        position: relative;

        input {
            border: none;
            margin-left: 16px;
            background-color: rgba(240, 240, 240, 0.25);
            border-radius: 14px;
            padding: 8px;
            color: var(--lightGrey);
            font-size: 0.8rem;
            width: 140px;

            &:focus {
                outline: none;
                background-color: var(--white);
                color: var(--black);
            }

        }

        svg {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--lightGrey);
        }

    }
}