main {
    max-width: 940px;
    margin: 0 auto;
}

.sectionHeader {
    color: var(--darkGrey);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.underlinedHeader {
    border-bottom: 1px solid var(--darkGrey);
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: flex;

    span {
        font-size: 0.7rem;
        margin-left: auto;
    }
}