:root {
    --orange: #ff8000;
    --green: #01ac1b;
    --darkGreen: #017f12;
    --blue: #40bcf4;
    --gold: #f5c518;
    --black: #14181c;
    --blackRgb: 30, 36, 41;
    --white: #ffffff;
    --grey: #888c8e;
    --lightGrey: #cbced0;
    --lightestGrey: #f0f0f0;
    --darkGrey: #778899;
    --darkerGrey: #445566;
    --darkestGrey: #2a2f36;
    --fontOne: 'Graphik', sans-serif;
    --fontTwo: 'Georgia', serif;

    --mainWidth: 960px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontOne);
}

body {
    background-color: var(--black);
    color: var(--white);
}